html {

    scroll-behavior: smooth;
}

* {

    box-sizing: border-box;
}

body {

    padding: 0;
    margin: 0;
    background: #fff;
    color: orangered;
    font-family: 'Manjari', sans-serif;
    overflow-x: hidden;

}

h2 {

    text-align: center;
    font-size: 40px !important;
    margin-bottom: 40px !important;
}

a {
    text-decoration: none;
}

img {

    width: 100%;
}

.home img {

    width: 100%;

}


.fa.fa-bars,
i.fa.fa-times {

    font-size: 95px;

}


i.fa.fa-bars {

    color: black;
}


i.fa.fa-times {

    color: white;
}


.sidenav {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background: orangered;
    margin: 0;
    padding: 0;
    transition: 0.8s ease;
    transform: translateX(-100%);
}


.sidenav .close,
.open {

    position: absolute;
    top: 5px;
    left: 50px;
}

.open {

    display: none;
}

.sidenav {

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidenav ul {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;

}

.sidenav ul li {

    margin-top: 80px;
}

.sidenav ul li a {

    font-size: 77px;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    transition: 0.8s ease;
}

.sidenav ul li a:hover {

    color: grey;
}
aside {

    position: fixed;
    background: white;
    top: 0px;
    left: 0px;
    width: 10%;
    height: 100%;
    overflow: none;
    z-index: 1;
    text-align: center;
    box-shadow: 0 0 30px rgba(230, 230, 230, 1);
}

aside img {


    margin-bottom: -3px;
}

aside a {

    display: block;
    padding: 15px 0;
    color: orangered;
    transition: all 0.65s;
    text-transform: uppercase;
    font-size: 0.75em;
    letter-spacing: 2px;
}

aside p {

    margin: 0;
    padding: 0;
}

aside a:hover {

    background: rgba(245, 245, 245, 1);
    color: black;
}

aside nav a:nth-child(2) {

    background: rgba(245, 245, 245, 1);
}

aside nav a:nth-child(2):hover {

    background: rgba(245, 245, 245, 1);
    color: #222;
}

main,
section,
footer {

    width: 90%;
    max-width: 90%;
    background: #fff;
    margin-left: 10%;
    padding: 30px 50px 30px 50px;

}

main{
    
    padding: 10px 50px !important;
}

header {

    text-align: center;
    letter-spacing: 2px;
}

header h1 {

    font-weight: bold;
    font-size: 4em;
    letter-spacing: 4px;

}

header h5 {

    font-weight: 300;
    font-size: 1em;
    letter-spacing: 4px;
    color: #000;
}

.about,
.folio,
.contact {

    line-height: 1.5em;
    letter-spacing: 1px;
    font-weight: 300;
}

.about h2,
.folio h2,
.contact h2 {

    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin: 100px 0 0 0;
    letter-spacing: 4px;
}

.about p {

    color: rgba(80, 80, 80, 1);
    font-weight: 400;
}

.about span {

    font-weight: 600;
    color: white;
}

.about h3 {

    font-weight: 500;
    font-size: 500;
    margin: 50px 0;
}

.about .container {

    width: 100%;
    background-color: #b2b2b2;
    height: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(80, 80, 80, 1);
}

.skills {

    text-align: right;
    padding-right: 20px;
    line-height: 15px;
    color: white;
    background-color: #424242;
    height: 10px;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.skills {

    font-size: 10px;
    font-weight: bold;
}

.html {

    width: 95%;
}

.css {

    width: 90%;
}

.script {

    width: 85%;
}

.jquery {

    width: 80%;
}


.folio h3 {

    color: rgba(180, 180, 180, 1);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 5px 20px;
}

.folio p {

    font-size: 0.875rem;
}

.row-halves {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}


.col {

    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    background: white;
    color: rgba(30, 30, 30, 1);
    padding: 2px;
}

.col p {

    padding: 5px 20px !important;
    font-weight: 500;
}

label {

    color: rgba(180, 180, 180, 1);
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    padding: 15px 0;
}

form input[type='text'],
select,
textarea {

    width: 100%;
    padding: 12px;
    border: none;
    box-shadow: 0 0 5px rgba(200, 200, 200, 1);
    background: transparent;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    color: #b2b2b2;
}

form input[type='text']:focus,
textarea:focus {

    outline: none;
    border: 1px solid #009688;
}

button {

    background-color: orangered;
    color: white;
    text-transform: uppercase;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    transition: all 0.35s;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Manjari', sans-serif;
}

button i {

    margin-left: 10px;

}

button:hover {

    background-color: #b2b2b2;
    color: white;
}

.contact .container {

    margin-top: 20px;
    margin-bottom: 100px;
    background: transparent;
    padding: 20px 0;
}

footer {

    padding: 20px 0;
    font-size: 2em;
    color: #b2b2b2;
    transition: all 0.35s;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


footer a {

    margin: 20px;
    transition: all 0.8s ease;
    color: black;
}

footer a:hover {

    transform: scale(1.2);
    color: orangered;
}

@media (max-width: 1000px) {

    
    .open{
        
        display: block;
    }
    .row-halves {

        grid-template-columns: 1fr;
    }

    .row-halves .col {

        margin-top: 80px;
    }

    main,
    footer,
    section {

        width: 100%;
        margin: 0 auto;
        padding: 12px 25px;
    }

    header {

        margin-top: 80px;
    }

    header h1 {

        font-size: 3em;
        line-height: 1.4em;

    }

    header h5 {

        font-size: 1em;
        letter-spacing: 2px;
    }

    aside {

        display: none;
    }

    .about .container {

        border-radius: 50px;
        height: 30px;
    }

    .skills {


        padding-right: 20px;
        line-height: 44px;
        border-radius: 50px;
        height: 30px;

    }

    .skills {

        font-size: 30px;

    }

    form input[type='text'],
    select,
    textarea {

        height: 80px;
        margin-top: 20px;
        margin-bottom: 70px;
    }

    label {

        font-size: 35px;
    }

    button {

        padding: 12px 20px;
        letter-spacing: 2px;
        width: 100%;
        height: 120px;
        font-family: 'Manjari', sans-serif;
        font-size: 45px;
    }

    button i {

        margin-left: 20px;
        font-size: 45px;

    }

    footer {

        padding: 20px 0;
        font-size: 5em;
    }

    footer a {

        margin: 40px;
    }

}
